.add-client-trial-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  text-align: center;

  .select-trial-type{
    width: 40%;
  }

  .trial-form-wrapper{
    display: flex;
    flex-direction: column;
    
    .trial-form {
      display: flex;
      flex-direction: column;
    }

    .added-alert {
      margin-top: 20px;
      border-radius: 45px;
      padding: 10px;
      color: #05bafc;
    }
  }
}