.add-client-trial-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  text-align: center;

  button {
    margin-bottom: 30px;
    padding: 10px;
    outline: none;
    border:none;
    border-radius: 30px;
    background-color: #20c1fc;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: #6fd6fc;
    }
  }

  .select-trial-type{
    width: 40%;
  }

  .trial-form-wrapper{
    display: flex;
    flex-direction: column;
    
    .trial-form {
      display: flex;
      flex-direction: column;

      button {
        margin: 20px;
      }
    }

    .added-alert {
      margin-top: 20px;
      border-radius: 45px;
      padding: 10px;
      color: #05bafc;
    }
  }
}