.add-trial-big-container {
  display: flex;
  justify-content: center;
  align-content: center;

  .add-client-trial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 90px;
    margin-top: 30px;
    text-align: center;
    border-radius: 100px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.2);

    @include responsive(tab-port) {
      padding: 0px;
      margin: 15px;
      width: 90%
    }

    button {
      margin-bottom: 30px;
      padding: 10px;
      outline: none;
      border: none;
      border-radius: 30px;
      background-color: #20c1fc;
      transition: 0.4s ease-in-out;

      @include responsive(tab-port) {
        width: 200px;
      }

      &:hover {
        background-color: #6fd6fc;
      }
    }

    select {
      border: none;
      outline: none;
      height: 30px;
      width: 500px;
      background-color: #f1f1f1;
      border-bottom: 2px solid black;

      @include responsive(tab-port) {
        width: 200px;
      }
    }

    .select-trial-type {
      width: 500px;
      margin-bottom: 40px;

      @include responsive(tab-port) {
        width: 200px;
      }
    }

    .trial-form-wrapper {
      display: flex;
      flex-direction: column;

      .trial-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
          border: none;
          outline: none;
          width: 500px;
          height: 30px;
          background-color: #f1f1f1;
          border-bottom: 2px solid black;

          @include responsive(phone) {
            width: 200px;
            height: 30px;
            font-size: 15px;
          }
        }

        textarea {
          outline: none;
          height: 100px;
          width: 500px;
          background-color: #f1f1f1;
          resize: none;

          @include responsive(phone) {
            width: 250px;
            font-size: 15px;
          }
        }

        button {
          margin: 20px;
          width: 300px;

          @include responsive(tab-port) {
            width: 200px;
          }
        }
      }

      .added-alert {
        margin-top: 20px;
        border-radius: 45px;
        padding: 10px;
        color: #05bafc;
      }
    }
  }
}
