.client-information-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  background: #F8F8F8; 
	border: solid #BDBDBD 0; 
  border-radius: 20px;
	box-shadow: 0 -1px 11px rgba(0, 0, 0, 0.2);

  h1{
    border-bottom: 2px solid black;
  }

  .information-item-1 {
    grid-area: first;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .information-item-2 {
    grid-area: last;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .information-item-3 {
    grid-area: age;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .information-item-4 {
    grid-area: gender;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .information-item-5{
    grid-area: supervisor;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .client-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 85%;
    grid-template-areas: 
    "first first last last"
    "age age  gender gender"
    "supervisor supervisor supervisor .";
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;

    .information-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }


}