.client-portal-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  .client-information-wrapper{
    display: flex;
  }

  .client-portal-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}