.employee-manager-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  text-align: center;

  .new-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 15px;
  }

  .left-column {
    grid-area: L;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 30px;

    @include responsive(tab-port) {
      flex-direction: column;
      font-size: 10px;
      margin: 0px;
    }

    @include responsive(phone) { 
      flex-direction: column;
    }

    button{
      height: 15px;
      width: 40px;
      font-size: 10px;
    }

    .header {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 2px solid black;
    }

    .all-employees-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .employees-rendered {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 50px;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }

  .right-column {
    grid-area: R;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .employee-manager-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 100%;
    grid-template-areas: "L L R";

    @include responsive(tab-land) {
      font-size: 18px;
      
    }
  
    @include responsive(tab-port) {
      font-size: 16px;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      grid-template-areas: 
        "L L"
        "R R";
    }
  
    @include responsive(phone) {
      font-size: 13px;
      justify-content: center;

    } 

  }
}
