.frequency-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;


  .frequency-button-wrapper {
    display: flex;
    height: 45px;
    width: 190px;
    margin: 0px;
    padding: 25px;
    border-radius: 100px;
    justify-content: center;
    align-content: center;
    background-color: #b5e7fa;

    input {
      outline: none;
      background-color: #50caf8;
      border: none;
      border-radius: 50px;
      width: 40px;

      &:hover {
        background-color: #2e9ac2;
      }
    }

    p {
      display: flex;
      padding: 15px;
      margin-right: 10px;
      justify-content: center;
      align-items: center;
      width: 170px;
      font-size: 15px;

      div {
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 100px;
        background-color: #80d6f5;
        justify-content: center;
      }
    }
  }
}
