.nav-wrapper {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #50CAF8;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 12px 11px rgba(0, 0, 0, 0.2);
  font-size: 25px;
  @include responsive(tab-land) {
    font-size: 18px;
  }

  @include responsive(tab-port) {
    font-size: 16px;
  }

  .nav-link-wrapper{
    a {
      text-decoration: none;
      color: rgb(72, 82, 109);
      transition: 0.5s ease-in-out;

      &:hover {
        color: antiquewhite;
      }
    }

    .active{
      color: antiquewhite;
    }
  }

  .logout-button{

    button{
      background-color: transparent;
      color: rgb(72, 82, 109);
      outline: none;
      border-radius: 25px;
      border: 1px solid rgb(72, 82, 109);
      font-size: 25px;
      transition: 0.5s ease-in-out;
      
      @include responsive(tab-land) {
        font-size: 18px;
      }
    
      @include responsive(tab-port) {
        font-size: 16px;
      }

      &:hover {
        color: antiquewhite;
        background-color: rgb(72, 82, 109);
      }
    }

  }
}
